@charset "utf-8";
/* 360*640 */
body{font-size: 11px;}
nav#navTop{
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: auto;
	_background-color: pink;
	padding-left: 10px;
}
.header{
	margin: 0 auto;
	width: 1200px;
	padding-top: 30px;
}
.header img{width: 130px;height: 40px;position: absolute;left: 50%;transform: translateX(-50%);top: 10px;}
.header>ul{
	float: right;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	left: -100%;
}
.header>ul>li{
	float: left;
}
.header>ul>li>a{
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 20px;
	font-weight: bold;
}
.submenu{display: none;}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}
.toggleMenu{
	_float: right;
	width: 50px;
	height: 50px;
	background-color: #589054;
	position: fixed;
	right: 7px;
	top: 20px;
	cursor: pointer;
}
.toggleMenu div{
	width: 35px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	border-radius: 3px;
	left: 7px;
	transition: 0.5s;
}
.toggleMenu.change .bar1{transform: rotate(-45deg);top:21px;background-color: #fff;}
.toggleMenu.change .bar2{opacity: 0;}
.toggleMenu.change .bar3{transform: rotate(45deg);top: 21px;background-color: #fff;}
.toggleMenu.change{position: fixed;z-index:999999;}

/*페이지 배경*/
#page1{background-image: url(../images/bg1p.jpg);}
#page3{background-image: url(../images/page3.jpg);}
#page4{background-image: url(../images/seoul1.jpg);}
#page5{background-image: url(../images/bg5.jpg);}
.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* 스크롤다운 */
.scroll{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	animation-name: xScroll;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.scroll img{width: 35px;height: 50px;}
@keyframes xScroll{
	from{bottom:20px;}
	to{bottom: 40px;}
}

/*page #1*/
.section{position: relative;}
.textBox{
	text-align: center;
	width: 800px;
	_background-color: pink;
	position: absolute;
	top: 18%;left: 50%;
	transform: translateX(-50%);
	z-index: 9999;}
.textBox h1{font-size: 20px;}
.textBox h1>span{color: #589054;font-size: 25px;position: relative;}
.textBox h1>span:after{
	content: "";background-color: #589054;
	width: 10px;height: 5px;clip-path: polygon(50% 78%, 0 0, 100% 0);
	position: absolute;top: 0;left: 8px;}
.cloud1{position: absolute;top:150px;left: 25%;}
.cloud2{position: absolute;top: 80px;left: 42%;}
.cloud3{position: absolute;top:200px;left: 80%;}

.bg_cloud img{display: block;width: 50px;height: 30px;}

.car1{display: none;}
.car2{position: absolute;top: 70%;left: 55%;}
.car3{position: absolute;top: 65%;left: 35%;}
.bus{display: none;}
.bg_bike{display: none;}

/*page #2*/

.flexWrap{width: 100%;height: 100%;border: 1px solid  #000;}
.flexWrap .flexbox{
	position: relative;width: 100%;height: 25%;overflow: hidden;transition: 0.5s ease-in-out;
	border: 1px solid #000;
}
.flexWrap .flexbox:last-child{border-right: none;}
.flexWrap .flexbox:nth-child(1){
	background: url(../images/sbike01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(2){
	background: url(../images/sbike02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(3){
	background: url(../images/sbike03.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(4){
	background: url(../images/sbike04.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox .content{
	position: absolute;
	top: 40%;
	margin: 0 auto;
	padding: 15px;
	left: 50%;
	background: #038C25;
	transition: 0s;
	transform: translateX(-50%);
	border-radius: 10%;
}
.flexWrap .flexbox .content a{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
/*.flexWrap .flexbox:hover .content{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: translateY(0);
}*/
#page2 .scroll{display: none;}

/*page #3*/
.phoneWrap{width: 100%;height: 100%;position: relative;margin: 0 auto;}
.pi1{width: 50%;position: absolute;top: 15%;left: 50%;transform: translateX(-50%);}
.pi2, .pi3{display: none;}
.phoneIcon{display: none;}
.phoneIcon img{}
.phoneT{width: 100%;height: 100%;position: absolute;top: 60%;left: 0%;text-align: center;}
.phoneT>h1{color: #fff;}
.phoneT2{width: 100%;height: 100%;position: absolute;top: 70%;left: 0%;text-align: center;}
.phoneT2>h1{color: #fff;font-size: 18px;}
.download{width: 100%;height: 100%;position: absolute;top: 80%;left: 10%;}
.download>a:first-child{margin-right: 10px;}
.download>a>img{width: 150px;height: 50px;}

/*page #4*/
.page4Tit{
	width: 85%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 13%;}	
.page4Tit h2{color: #fff;padding-bottom: 10px;}	
.page4Tit h2>span{color: #589054;}
.page4Tit p{color: #fff;font-weight: bold;}	
.sView{width: 100%;position: absolute;top: 25%;left: 10%;}
.sView img{width: 80%;height: 80%;}
.btn{position: relative;}
.next_btn{
	background: url(../images/btn_next.png) no-repeat;
	width: 50px;height: 50px;position: absolute;right: 0;}
.prev_btn{
	background: url(../images/btn_prev.png) no-repeat;
	width: 50px;height: 50px;}

/*page #5*/
.page5{width: 100%;height: 100%;}
.noticeWrap{width: 100%;height: 100%;margin: 0 auto;}
.noticeWrap h1{text-align: center;position: relative;top:100px;padding-bottom: 20px;}
.noticeBox img{display: block;}
.noticeBox{padding-top: 30px;position: relative;}
.boxOne{width: 100%;height: 100%;float: left;position: absolute;left: 0%;top: 100px}
.boxTwo{display: none;}
.boxThree{width: 100%;height: 100%;float: left;position: absolute;left: 60%;top: 100px}
.over{display: none;}

/* page6 */
.footerWrap{width: 80%;margin: auto;}
.footernav>ul{}
.footernav>ul>li{
	float: left;
	margin-right: 15px;
	cursor: pointer;
	padding-top: 10px;
}
.address{
	padding-top: 10px;
}