@charset "utf-8";
/* 360*640 */
nav#navTop{
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: auto;
	_background-color: pink;
	padding-left: 10px;
}
.header{
	margin: 0 auto;
	width: 1200px;
	padding-top: 30px;
}
.header>ul{
	float: right;
}
.header>ul>li{
	float: left;
}
.header>ul>li>a{
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 20px;
	font-weight: bold;
}
.submenu{display: none;}
.toggleMenu{
	float: right;
	width: 50px;
	height: 50px;
	background-color: #D97762;
	position: relative;
	cursor: pointer;
}
.toggleMenu div{
	width: 35px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	border-radius: 3px;
	left:7px;
	transition: 0.5s;
}

/*페이지 배경*/
#page1{background-image: url(../images/bg1p.jpg);}
#page3{background-image: url(../images/page3.jpg);}
#page4{background-image: url(../images/seoul1.jpg);}
#page5{background-color: #f3e9cc;}
.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* 스크롤다운 */
.scroll{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	animation-name: xScroll;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes xScroll{
	from{bottom:20px;}
	to{bottom: 40px;}
}

/*page #1*/
.section{position: relative;}
.cloud1{position: absolute;top:150px;left: 25%;}
.cloud2{position: absolute;top: 80px;left: 42%;}
.cloud3{position: absolute;top:200px;left: 80%;}

.bg_cloud img{display: block;width: 50px;height: 30px;}

.car1{display: none;}
.car2{position: absolute;top: 58%;left: 55%;}
.car3{position: absolute;top: 65%;left: 35%;}
.bus{display: none;}
.bg_bike{display: none;}

/*page #2*/

.flexWrap{width: 100%;height: 100%;border: 1px solid  #000;}
.flexWrap .flexbox{position: relative;width: 100%;height: 25%;flex: 1;
	border-right: 2px solid #000;overflow: hidden;transition: 0.5s ease-in-out;
}
.flexWrap .flexbox:last-child{border-right: none;}
.flexWrap .flexbox:nth-child(1){
	background: url(../images/sbike01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(2){
	background: url(../images/sbike02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(3){
	background: url(../images/sbike03.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox:nth-child(4){
	background: url(../images/sbike04.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.flexWrap .flexbox .content{
	position: absolute;
	top: 40%;
	margin: 40px;
	padding: 30px;
	left: 35%;
	background: #038C25;
	_visibility: hidden;
	opacity: 0;
	transition: 0s;
	transform: translateY(100px);
	border-radius: 10%;
}
.flexWrap .flexbox .content a{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
/*.flexWrap .flexbox:hover .content{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: translateY(0);
}*/


/*page #3*/
.phoneWrap{width: 1000px;height: 700px;position: relative;margin: 0 auto;}
.phoneI{width: 500px;height: 800px;}
.phoneI>li{float: left;position: absolute;top: 3%;}
.phoneI>li:nth-child(1){position: absolute;z-index: 0;}
.phoneI>li:nth-child(2){position: absolute;z-index: 1;opacity: 0;left:20px;top: 50px;}
.phoneI>li:nth-child(3){position: absolute;left:20px;top: 50px;z-index: 2;opacity: 0;}

/*.on*/
.phoneI.on>li:nth-child(1){position: absolute;z-index: 0;animation:pi1 1s ease-in;}
@keyframes pi1{
	to{left: 0;}
}
.phoneI.on>li:nth-child(2){
	position: absolute;
	z-index: 1;
	opacity: 0;
	left:20px;
	top: 50px;
	animation:pi2 1s 0.2s forwards ease-in;
	box-shadow: -5px 5px 5px 5px rgba(0,0,0,0.2);  
}
@keyframes pi2{
	30%{opacity: 1;}
	to{left: 70px; top: 0px; opacity: 1;}
}
.phoneI.on>li:nth-child(3){
	position: absolute;
	left:20px;
	top: 50px;
	z-index: 2;
	opacity: 0;
	animation:pi3 1s 0.6s forwards ease-in;
	box-shadow: -5px 5px 5px 5px rgba(0,0,0,0.2);
}
@keyframes pi3{
	40%{opacity: 0;}
	70%{opacity: 1;}
	to{left:120px; top: -20px; opacity: 1;}
}
.phoneI>li>img{display: block;}

.phoneIcon{position: absolute;top: 13%;left: 49%;}
.phoneIcon img{}
.phoneT{width: 400px;height: 200px;position: absolute;top: 25%;left: 50%;}
.phoneT>h1{color: #fff;font-size: 60px;}
.phoneT2{width: 600px;height: 100px;position: absolute;top: 55%;left: 50%;}
.phoneT2>h1{color: #fff;}
.download{width: 500px;height: 70px;position: absolute;top: 80%;left: 50%;}
.download>a:first-child{margin-right: 10px;}


/*page #4*/
.page4Tit{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 18%;}	
.page4Tit h2{font-size:30px;color: #fff;padding-bottom: 10px;}	
.page4Tit h2>span{font-size: 35px; color: #000;}
.page4Tit p{color: #fff;font-weight: bold;}	
.slide{padding-top: 80px;}
.sView ul{width: 1400px;margin: 0 auto;}
.slide ul>li{float: left;width: 400px;margin: 0 33.33px;}

/*page #5*/
.page5{width: 100%;height: 100%;}
.noticeBox{
	width: 1200px;
	height: 750px;
	margin: auto;
	_background-color: skyblue;
	margin-top: 70px;
}
.notice h1{padding:40px 0 10px 0 ;}
.notice>p{font-size: 16px;}
.listbox{
	width: 1200px;
	height: 250px;
	padding-top: 50px;
}
.listbox>li{
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 5px;
	background-color: #eee;
	padding-top: 10px;
	border: 1px solid #ddd;
	margin-bottom: 50px;
}
.listbox>li:nth-child(2){
	width: 250px;
	height: 200px;}	
.listbox>li:last-child{margin-right: 0;}
.listbox>li img{display: block;}
.listbox>li .txt{
	display: block;
	padding: 10px 0;
	font-weight: bold;
	font-size: 18px;}
.listbox>li .data{font-size: 13px;margin-left: 6px;}
.more>a, .more1>a{font-weight: bold;font-size: 14px;color: #e83014;display: none;}
.more1>a{margin-top: 25px;}
.listbox>li:hover .more>a{display: block;}
.listbox>li:hover .more1>a{display: block;}
.channel{width: 1200px;height: 400px;_background-color: red;}
.cvideo{width: 1200px;height: 300px;}
.cTit{padding:20px 0;}
.cvideo iframe{margin-right: 24.2px;}
.cvideo iframe:last-child{margin-right: 0;}

/* page6 */
.footerWrap{width: 1200px;margin: auto;}
.footernav>ul{}
.footernav>ul>li{
	float: left;
	margin-right: 15px;
	cursor: pointer;
	padding-top: 10px;
	font-size: 14px;
}
.address{
	font-size: 14px;
	padding-top: 10px;
}