@charset "utf-8";
body{font-size: 11px;}
header#main_header{
	height: 1200px;
	background-color: #fff;
	position: relative;
	margin-bottom: 30px;
}
.sub_header{height: 460px !important;
	margin-bottom: 0 !important;}

/* header_top */
#header_top{
	height: 50px;
}
#header_top>h1{
	float: left;
	height: 50px;
}
#header_top>h1>a{color: #fff;}	

#header_top>#main_menu{
	background-color: #D97762;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	left: -100%;
}
#main_menu{}	
#main_menu>ul{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}	
#main_menu>ul>li{
	height: 50px;
}	
#main_menu>ul>li>a{
	display: block;
	line-height: 50px;
	padding: 0 30px;
	color: #fff;
	font-size: 15px;
	text-align: center;
}	
#main_menu>ul>li:hover{_background-color: rgba(0,0,0,0.2);}
#main_menu>ul>li:hover a{color: #fff;}

.toggleMenu{
	float: right;
	width: 50px;
	height: 50px;
	background-color: #D97762;
	position: relative;
	cursor: pointer;
}
.toggleMenu div{
	width: 35px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	border-radius: 3px;
	left:7px;
	transition: 0.5s;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

.toggleMenu.change .bar1{transform: rotate(-45deg);top:21px;background-color: #fff;}
.toggleMenu.change .bar2{opacity: 0;}
.toggleMenu.change .bar3{transform: rotate(45deg);top: 21px;
background-color: #fff;}
.toggleMenu.change{position: fixed;z-index:999999;right:0;}

.submenu{display: none;}



/* slider */
.slider_wrap{
	height: 400px;
}
.slider_wrap ul li{
	height: 400px;
	background-color: black;
}
.slider_wrap li.slide_1st{
	background: url(../images/slider1.png) no-repeat center;
	background-size: cover;
}
.slider_wrap li.slide_2st{
	background: url(../images/slider2.png) no-repeat center;
	background-size: cover;
}
.slider_wrap li.slide_3st{
	background: url(../images/slider3.png) no-repeat center;
	background-size: cover;
}
.slider_wrap li.slide_4st{
	background: url(../images/slider4.png) no-repeat center;
	background-size: cover;
}

.slider_wrap .slider_txt{
	position: absolute;
	width: 200px;
	left: 90px;
	top: 40%;
	text-align: left;	
	color: #fff;
}
.slider_wrap .slider_txt h3{
	font-size: 2em;
	margin-bottom: 15px;
}
/*.slider_wrap .slider_txt h3:after{
	content: "";
	display: block;
	width: 350px;
	height: 2px;
	background-color: #fff;
	margin: 10px auto;
}*/

/* content */
.content{
	width: 100%;
}
.content > ul > li{
	float: left;
	width: 50%;
	height: 250px;
	background-color: #fff;
	position: relative;
}
.content > ul >li:nth-child(2n){background-color: purple;}
.content > ul >li p{
	text-align: center;
	color: white;
	font-weight: bold;
}
.content > ul >li img{
	display: block;
	margin: 0 auto;
	transition: 0.3s;
}
.content > ul >li img.icon{margin-bottom: 15px;width: 70px;}
.content > ul >li a.iconLink{
	display: block;
	height: 315px;
	padding-top: 80px;
}

.content > ul >li .card{
	position: absolute;
	top: 0;
	padding-left: 50px;
	padding-top: 50px;
	color: #fff;}
.content > ul >li .card h3:after{
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background-color: #fff;
	margin: 10px 0;
}
.content > ul >li .card p{
	font-size: 25px;
	text-align: left;
}


.content > ul >li.ct1st{background-color: #8c5656;}
.content > ul >li.ct2st{overflow: hidden;}
.content > ul >li.ct2st img.play{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.content > ul >li:hover img.bgImg{
	transform: scale(1.2);
}
.content > ul >li.ct3st{display: none;}

.content > ul >li.ct4st{background-color: #f2aa6b;}
.content > ul >li.ct5st{background-color: #8c706d;}
.content > ul >li.ct6st{display: none;}
.content > ul >li.ct7st{display: none;}
.content > ul >li.ct8st{display: none;}
.content > ul >li.ct9st{background-color: #8c5656;}
.content > ul >li.ct10st{background-color: #f2aa6b;}
.content > ul >li.ct11st{display: none;}


/*review*/
.container{
	background: url(../images/bgrev01.jpg) no-repeat center;
	background-size: cover;
	height: 650px;
}
.section{
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
}
.section h2{
	text-align: center;
	color:#fff;
	font-size: 2em;
}
.section h2:after{
	content: "";
	display: block;
	width: 180px;
	height: 3px;
	margin: 20px auto;
	background-color: #fff;
}
.container .section>p{
	text-align: center;
	color: #fff;
	margin-bottom: 70px;
	font-size: 13px;
}
.section> p>span{color:#e3a26d;}
.section>ul>li{
	margin: 30px 0 ;
}
.section>ul>li:last-child{
	margin-right: 0;
}
.reviewTxt{
	width: 100%;
	height: 100px;
	background-color: #dcd5d3;
	color: #000;
	position: relative;
	border-radius: 15px 50px;
	font-size: 13px;
}
.reviewTxt>img{display: none;}
.sticker{display: none}

.reviewTxt>h4{
	padding-top: 30px;
	padding-left: 10px;
	text-align: center;
	line-height: 30px;
}
.reviewTxt>p{display: none;}



/*container2*/
.container2{
	height: 1900px;
}
.feature{
	width: 100%;	
	margin: 0 auto;
	padding-top: 100px;
	_background-color: pink;
}
.feature h2{
	text-align: center;
	color: #787878;
	font-size: 2em;
	margin-bottom: 80px;
}
.feature>ul{}
.feature>ul>li{
	position: relative;
}
/* box1 */
.boxone{}
.boxone>li{
	_float: left;
	width: 100%;
	height: 280px;
}
.boxone>li img{
	width: 90%;
	_height: 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.sbox1{
	width: 100%;
	height: 100px;
	background-color: #dcdadb;
	position: absolute;
	top: 240px;
	z-index: 1;
	transition: 0.3s;
}
.boxo_txt{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	font-size: 13px;
	text-align: center;
}
.boxo_txt>h4{
	font-size: 25px;
	margin: 10px auto; 
}
.boxo_txt>p{}



/* box2 */
.boxtwo{}
.boxtwo>li{
	width: 100%;
	height: 280px;
}
.boxtwo>li img{
	width: 90%;
	_height: 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.sbox2{
	width: 100%;
	height: 100px;
	background-color: #b27652;
	position: absolute;
	top: 240px;
	z-index: 1;
	transition: 0.3s;
}
.boxt_txt{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	font-size: 13px;
	text-align: center;
}
.boxt_txt>h4{
	font-size: 25px;
	margin: 10px auto; 
}
.boxt_txt>p{}



/* box3 */
.boxthree{}
.boxthree>li{
	_float: left;
	width: 100%;
	height: 280px;
}
.boxthree>li img{
	width: 90%;
	_height: 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.sbox3{
	width: 100%;
	height: 135px;
	background-color: #f1ca72;
	position: absolute;
	top: 200px;
	z-index: 1;
	transition: 0.6s;
}
.boxth_txt{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	font-size: 13px;
	text-align: center;
}
.boxth_txt>h4{
	font-size: 25px;
	margin: 10px auto; 
}
.boxth_txt>p{}


/* Quickmenu*/
.bottom_wrap{
	background-color: #8c5656;
	height: 580px;
}
.bottom{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.bottom>ul>li{
	float: left;
	width: 50%;
	height: 250px;
	text-align: center;
	padding-top: 70px;
}
.bottom>ul>li>img{}
.bottom>ul>li:nth-child(3){
	display: none;
}
.bt_txt{}
.bt_txt>h3{
	margin:15px 0;
	color: #fff;
}
.bt_txt>p{
	color: #fff;
}
.bt_txt> .call{
	font-size: 20px;
	color: #f2aa6b;
	font-weight: bold;
}
.bt_txt> .bt_go{
	margin: 0 auto;
	background-color: #f2aa6b;
	width: 100px;
	height: 30px;
	color: #fff;
	line-height: 25px;
}
.bt_txt> .bt_go a{
	color: #fff;
}

/* footer */
footer{
	background-color: #e8e8e8;
	width: 100%;
	_height: 150px;
}
.footer_wrap{
	width: 100%;
	height: 200px;
	margin: 0 auto;
	_background-color: green;
}
.footer_logo{
	display: none;
}
.footerBox{
	position: relative;
	margin: 0 auto;
}
.footernav{
	position: absolute;
	_right: 362px;
	top: 20px;
}
.footernav>ul{}
.footernav>ul>li{
	float: left;
	padding: 3px 10px;
	text-align: center;
	width: 50%;
}
.footerText{
	position: absolute;
	top: 90px;
	float: left;
	width: 100%;
	text-align: center;
	line-height: 18px;
}
.footerText>p{}



/* bxslider */
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: #fff;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* sub_interduce */
#subWrap{
	width: 100%;
}
#subWrap>ul>li{}
#subWrap>ul>li>a{}

.subBg01{
	background: url(../images/subbg01.png) no-repeat center;
	background-size: cover;
	height: 460px;
}
.subBg02{
	background: url(../images/subbg02.png) no-repeat center;
	background-size: cover;
	height: 460px;
}
.subBg03{
	background: url(../images/subbg03.png) no-repeat center;
	background-size: cover;
	height: 460px;
}
.subBg04{
	background: url(../images/subbg04.png) no-repeat center;
	background-size: cover;
	height: 460px;
}
.subBg05{
	background: url(../images/subbg05.png) no-repeat center;
	background-size: cover;
	height: 460px;
}
.subTitle{
	position: absolute;
	color: #fff;
	top: 180px;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
}
.subTitle>h2{
	font-size: 30px;
	padding:10px 0;
	color: #fff;
}
.subTitle>p{
	font-size: 14px;
}
.subTitle01{
	position: absolute;
	color: #fff;
	top: 150px;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
}
.subTitle01>h2{
	font-size: 30px;
	padding:10px 0;
}
.subTitle01>p{
	font-size: 13px;
}
.menuBt01{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: -50px;
	margin-left: 50%;
	transform: translateX(-50%);
}
.menuBt01>ul{}
.menuBt01>ul>li{
	width: 50%;
	background-color: #fff;
	float: left;
	border: 1px solid #ccc;
	position: relative;
}
.menuBt01>ul>li.subm3{
	width: 33.3333%;
	margin: 0 auto;
}
.menuBt01>ul>li>a{
	display: block;
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
}
.menuBt01>ul>li.active{
	background-color: #c19a6b /* d8ab5b */;
}
.menuBt01>ul>li.active:after{
	content: "";
	border-width: 20px;
	border-style: solid;
	border-color: #c19a6b transparent transparent transparent;
	position: absolute;
	left:50%;
	bottom: -40px;
	transform: translate(-50%);
	z-index: 2;
}

.menuBt01>ul>li:first-child{
	border-right: 0 none;
}

/* subContainer */

.subContainer{
	width: 100%;
	padding:70px 0;
	_height: 550px;
	margin: 0 auto;
	_background-color: pink;
}
.subContainer>ul>li:last-child{
	font-weight: bold;
	color: #715454;
}
.subContainer>ul{}
.subContainer>ul>li{
	float: left;
	padding-right:10px;
	padding-top: 10px;
	_padding-bottom: 60px;
}
.subContainer>ul>li img{
	padding-top: 1px;
width: 10px;height: 10px;}
.subContainer>ul>li p{font-size: 10px;}
.subInfo{
	padding-top: 100px;
	text-align: center;
	position: relative;
	padding-bottom: 80px;}
.subInfo>h2{margin-bottom: 30px;}
.subInfo>h2:before{
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	margin: 20px auto;
	background-color: #000;
}
.subInfo>h1{margin-bottom: 30px;}
.subInfo>h1:nth-child(3){
	color: #b1560f;
}
/* subContainer2 */
.subContainer2{
	background-color: #8f8873;
	height: 400px;
}
.greeting{
	width: 100%;
}
.greeting_t{
	padding: 40px 0;
	text-align: center;
}
.greeting_t>h2{
	padding:40px 60px;
}

.greeting_i{
	display: none;
}


/* subContainer3 */
.subContainer3{}
.advantage{
	width: 100%;
	height: 1300px;
	margin: 0 auto;
	_position: relative;
}
.advantage_t{
	text-align: center;
	padding-top: 50px;
}
.advantage_t>p{
	padding:50px 0;
}
.advantage>ul{}
.advantage>ul>li{
	float: left;
	width: 50%;
	height: 260px;
	_background-color: pink;
}
.advantage>ul>li img{
	width: 100%;
}
.advantage>ul>li>h4:before{
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background-color: #000;
}
.adtxt{
	padding: 50px 30px;
}
.adtxt>h4{
	line-height: 60px;
}
.subimg>img{
	width: 100%;
	padding-bottom: 30px;
}
